<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container d-flex justify-content-center">
                <div class="col-3">
                    <div class="row">
                        <div class="col-12 p-3">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                                alt="Hollywood Sign on The Hill" />
                        </div>

                        <div class="col-12 p-3 ">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                                alt="Hollywood Sign on The Hill" />
                        </div>
                        <div class="col-12 p-3">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
            
                                alt="Hollywood Sign on The Hill" />
                        </div> 
                    </div>
                </div>
                <div class="col-4 p-3">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" style="height: 490px;"
                        alt="Palm Springs Road" />
                </div>
                <div class="col-5 p-3 " >
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Product Title</h1>
                            <p class="text-body-secondary">Price</p>
                            <p class="description">
                                This is a longer card with supporting text below as a natural
                                lead-in to additional content.
                            </p>
                            <label for="sizes" class="form-label">Sizes:</label>
                            <br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Small
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked />
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Medium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Large
                                </label>
                            </div>
                            <br />
                            <label for="exampleColorInput" class="form-label">Colors:</label>
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#C6C5AE" title="Choose your color" />
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#205642" title="Choose your color" />
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#CA7090" title="Choose your color" />
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#CA7090" title="Choose your color" />
                            <button type="button" class="btn btn-primary btn-sm">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>