.col-4 {

    margin: var(--s-large);
    padding: var(--s-large);
}


.col-5 {
    padding: var(--s-large);
    margin: var(--s-large);
    height: 100%;
}

.input-box {
    border-style: none;
    width: 40px;
    border-bottom: var(--grey-border);
    border-top: var(--grey-border);
    text-align: center;

}

.btn-icon {
    border: var(--grey-border);
    border-radius: var(--default-border-radius);

    color: var(--dark);
}

.btn-icon:hover{
    border: var(--grey-border);
    border-radius: var(--default-border-radius);

    color: var(--darker);
}

.cart-btn {
    border-color: var(--primary-color);
    color: var(--white);
    background-color: var(--primary-color);
}

.quantity {
    color: var(--white);
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}