<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container d-flex justify-content-center">
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <img
                src="https://cdn.discordapp.com/attachments/1093111353826344983/1115904430307549234/D2.webp"
                class="card-img-top"
                alt="Dark-green"
              />
            </div>

            <div class="col-12">
              <img
                src="https://cdn.discordapp.com/attachments/1093111353826344983/1115904431163191326/D4.webp"
                class="card-img-top"
                alt="Dark-pink"
              />
            </div>
            <div class="col-12">
              <img
                src="https://cdn.discordapp.com/attachments/1093111353826344983/1115904430706020393/D3.webp"
                class="card-img-top"
                alt="Light-pink"
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <img
            src="https://cdn.discordapp.com/attachments/1093111353826344983/1114085342824366160/D1.webp"
            class="card-img"
           
            alt="Lighter-green"
          />
        </div>
        <div class="col-5">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Product Title</h1>
              <p class="text-body-secondary">Price</p>
              <p class="description">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <label for="sizes" class="form-label">Sizes:</label>
              <br />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Small
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Large
                </label>
              </div>
              <br />
              <label for="exampleColorInput" class="form-label">Colors:</label>
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#C6C5AE"
                title="Choose your color"
              />
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#205642"
                title="Choose your color"
              />
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#CA7090"
                title="Choose your color"
              />
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#DFB8BA"
                title="Choose your color"
              />
              <br />
              <label for="exampleColorInput" class="form-label">
                Quantity:</label
              >
              <br />
              <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button">
                  +
                </button>

                <input
                  type="text"
                  class="form-c"
                  placeholder=""
                  aria-label="Example text with two button addons"
                />
                <button class="btn btn-outline-secondary" type="button">
                  -
                </button>
              </div>
              <button
                type="button"
                class="btn btn-primary btn-block cart rounded-0"
              >
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
