.container{
    background-color: var(--white);
}

.row{
    margin-left: 90px;
    margin-top: 19px;
    row-gap: 0;
   
}
.col-12{
    margin: 41px;
    margin-top: 20px;
    
  
    
  
   
}
.col-4{
    padding: 20px;
    margin-top: 15px;
    height: 200px;
}

.col-5{
    padding: 5px;
    margin-left: 20px;
    margin-top: 30px;
}
.form-c{
    width: 40px;
}

.card-img-top{
    width: 120px;
    height: 160px;
}
.card-img{
    height: 600px;
    margin-right: 200px;
}