<div class="outer">
    <div class="container d-flex">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                    <div class="panel border bg-white">
                        <div class="panel-heading justify-content-center">
                            <h3 class="px-3 font-weight-bold justify-content-center p-3">
                                Forgot Password<button class="cancel-button" [routerLink]="['../login']" (click)="goBack()">&#10005;
                                </button></h3>


                        </div>
                        <div class="panel-body p-3">
                            <div class="form-control-feedback">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                                    <div>
                                        <div class="panel-body pt-3">
                                            <div class="label font-weight">Username:</div>
                                            <input type="text" class="name" formControlName="userName">
                                            <div class="text-danger"
                                                *ngIf="form.get('userName')?.invalid && (form.get('userName')?.dirty || form.get('userName')?.touched)">
                                                Username is required.</div>
                                        </div>
                                    </div>

                                    <div>
                                        <br>
                                        <div class="panel-body pt-3">
                                            <div class="label">New Password:</div>
                                            <input type="password" formControlName="newPassword">
                                            <div
                                                *ngIf="form.get('newPassword')?.invalid && (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)">
                                                <div *ngIf="form.get('newPassword')?.errors?.['required']"
                                                    class="text-danger">Password is required.</div>
                                                <br>
                                                <div *ngIf="form.get('newPassword')?.errors?.['pattern']"
                                                    class="text-danger">
                                                    Password must contain at least one lowercase letter, one uppercase
                                                    letter, one number, one special character, and be 8-16 characters
                                                    long.
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                        <div>
                                            <div class="panel-body pt-3">
                                                <div class="label">Confirm Password:</div>
                                                <input type="password" formControlName="confirmNewPassword">
                                                <div
                                                    *ngIf="form.get('confirmNewPassword')?.invalid && (form.get('confirmNewPassword')?.dirty || form.get('confirmNewPassword')?.touched)">
                                                    <div *ngIf="form.get('confirmNewPassword')?.errors?.['required']"
                                                        class="text-danger">Confirm password is required.</div>
                                                    <div *ngIf="form.get('confirmNewPassword')?.errors?.['notMatched']"
                                                        class="text-danger">Passwords do not match.</div>
                                                </div>
                                            </div>

                                            <br>


                                            <button type="submit" (click)="openModal()" [routerLink]="['../']"
                                                [disabled]="form.invalid" class="button" data-toggle="modal"
                                                data-target="#myModal">Reset Password</button>
                                            <app-modal-component></app-modal-component>

                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>