<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold p-3">Register</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form action="">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <label for="first">First Name</label>
                                    <input type="firstName" class="form-control" id="firstNameInput">
                                        <div class="form-group pt-3">
                                            <div class="input-field">
                                                <label for="lastNameInput">Last Name</label>
                                                <input type="lastName" class="form-control" id="lastNameInput">
                                          <div class="form-group pt-3">
                                         <div class="input-field">
                                         <label for="exampleInputEmail1">Email address</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1">
                                          <div class="form-group pt-3">
                                            <form class="input-field">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input type="lastName" class="form-control" id="phoneNumber">
                                                
                                          <div class="form-group pt-3">
                                         <div class="input-field">
                                            <label for="examplePassword1">Password</label>
                                            <input type="password" class="form-control" id="examplePassword1">
                                                <div class="form-group pt-3">
                                                    <div class="input-field">
                                                       <label for="confirm">Confirm Password</label>
                                                       <input type="confirm" class="form-control" id="confirm">             
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </form>
                </div>
            </div>

        </div>
    </div>
</div>
