<ng-container *ngIf="
  {
    cartItemCount: cartItemsCount$ | async
  } as observables">


    <nav class="navbar navbar-dark text sticky-top" id="mainNav"> <!--navbar-expand-lg fixed top -->
        <div class="container-fluid">

            <div class="nav-left d-flex justify-content-start">
                <button class="navbar-toggler navbar-toggler-start shadow-none" data-bs-toggle="offcanvas"
                    data-bs-target="#mobile-left-sidebar">
                    <fa-icon [icon]="barsIcon"></fa-icon>
                </button>
                <a class="navbar-brand d-flex justify-content-start" [routerLink]="['/all-products']">
                    <span class="colour">Fashion</span><span class="white">Hut</span>
                </a>
            </div>

            <div class="nav-right d-flex justify-content-end">
                <div class="offcanvas offcanvas-start" id="mobile-left-sidebar" tabindex="-1"
                    aria-label="mobile-left-sidebar-Lbl">
                    <div class="offcanvas-header pe-6">
                        <h1 class="offcanvas-title">
                            <span class="colour">Fashion</span>
                            <span class="white">Hut</span>
                        </h1>
                        <button
                            class="btn-close btn-close-white shadow-none d-flex justify-content-center align-items-center"
                            type="button" data-bs-dismiss="offcanvas">
                            <!-- <fa-icon [icon]="close"></fa-icon>  -->
                        </button>
                    </div>
                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end pe-6">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/login']" data-bs-dismiss="offcanvas">Login </a>
                            </li>
                            <!-- <div class="vr modile-hide align-self-center"></div> -->
                            <hr>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/register']"
                                    data-bs-dismiss="offcanvas">Register</a>
                            </li>
                            <!-- <div class="vr modile-hide align-self-center"></div> -->
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <button class="navbar-toggler shadow-none " data-bs-toggle="offcanvas" data-bs-target="#search-top-bar">
                    <fa-icon [icon]="searchIcon"></fa-icon>
                </button> -->

            <div class="d-flex justify-content-end">

                <ul class="nav mobile-hide">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row" [routerLink]="['/login']">Login </a>
                    </li>
                    <div class="vertical-line d-flex align-self-center"></div>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register</a>
                    </li>
                    <hr>
                    <div class="vertical-line d-flex align-self-center"></div>
                </ul>

                
                <button class="navbar-toggler navbar-toggler-right d-flex justify-content-start align-self-center"
                    type="button" data-bs-toggle="offcanvas" data-bs-target="#cart-sidebar">
                    <fa-icon [icon]="cartIcon"></fa-icon>

                    <p *ngIf="((cartItemsCount$ | async) === 0); else elseBlock"
                        class="text-align-top text-align-center mb-0"></p>
                    <!--if the total number of items in the cart is not 0-->
                    <ng-template #elseBlock class="text-align-top text-align-center mb-0">
                        <p class="cart-items-count p text-align-top text-align-center">
                            {{observables.cartItemCount}} </p>
                    </ng-template>
                </button>


                <!-- Cart Sidebar -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="cart-sidebar">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        <!-- <h1 id="offcanvasRightLabel">Items in cart ({{cartItemsCount$ | async}})</h1> -->

                        <div class="offcanvas-title d-flex justify-content-start align-self-center">
                            <h1 *ngIf="((cartItemsCount$ | async) === 0); else elseBlock">
                                <!--if the total number of items in the cart is not 0-->
                                <ng-template #elseBlock class="text-align-top text-align-center mb-0">
                                    <h1>{{observables.cartItemCount}}</h1>
                                </ng-template>
                            </h1>
                            <h1 class="text-align-top text-align-center ms-2 mb-0">Items in cart</h1>
                        </div>
                    </div>

                    <!-- Cart List  -->
                    <div class="offcanvas-body">
                        <div><app-cart-item-list></app-cart-item-list></div>
                    </div>
                    <!-- Cart Footer Buttons -->
                    <div class="offcanvas-footer row">
                        <hr>
                        <div *ngIf="((cartItemsCount$ | async) != 0)">
                            <div class="div">
                                <app-subtotal></app-subtotal>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center align-self-center">
                                    <button class="btn btn-block cart-btn" [disabled]="(cartItemsCount$ | async) === 0"
                                        [routerLink]="['cart']" data-bs-dismiss="offcanvas">View Cart
                                    </button>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-self-center">
                                    <button class="btn btn-block checkout-btn"
                                        [disabled]="(cartItemsCount$ | async) === 0" [routerLink]="['checkout']"
                                        data-bs-dismiss="offcanvas">Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</ng-container>