.search-and-filter{
    height: 60px;
    padding: 10px 30px;
    background-color: var(--white);
}

.search{
    max-width: 100%;
}

.btn-icon {
    background-color: var(--dark);
    border: var(--dark);
    color: var(--white);
}

.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active {
    background-color: var(--darker);
    border: var(--darker);
    color: var(--white);
}