.search-and-filter{
    height: 60px;
    padding: 10px 30px;
    background-color: var(--white);
}

.search, .input-group{
    width: 100%;
    margin: var(--s-medium) !important;
}

.btn{
    background-color: var(--dark);
    border: var(--dark);
    color: var(--white);
}

.btn:hover,
.btn:focus,
.btn:active{
    background-color: var(--darker);
    border: var(--darker);
    color: var(--white);
}

label{
    color: var(--dark);
}

li:hover, li:active, li:focus, li:active:hover, li:focus:hover{
    color: var(--darker);
    text-decoration: underline;
    outline: none !important;
}

/* .dropdown-menu{
    display: block;
} */