<div class="d-flex search-and-filter">
  <div class="categories d-flex justify-content-start mobile-hide align-self-center">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Shop by category
      </button>
      <ul class="dropdown-menu" id="category-dropdown">
        <div *ngFor="let category of categories; last as isLast" >
          <li class="dropdown-item">
            {{category}}
          </li>
          <hr *ngIf="!isLast" class="dropdown-divider">
        </div>
      </ul>
    </div>
  </div>

  <div class="search d-flex justify-content-end align-self-center">
    <div class="input-group">
      <input [(ngModel)]="searchValue" type="form-control searchbar shadow-none" type="text" id="searchQuery" class="form-control" placeholder="Search for product..." 
      (ngModelChange)="updateSearchValue(searchValue)"/>
      <label for="header-search" class="visually-hidden" placeholder="search">Search</label>
      <button type="button" class="btn btn-primary btn-icon" [routerLink]="['view-all-products']" (click)="updateSearchValue(searchValue)">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>