<!-- <div class="container-fluid search-and-filter mobile-hide shadow-sm p-3 mb-0">

    <div class="categories d-flex justify-content-start">

    </div>

    <div class="search d-flex justify-content-start">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="header-search" class="form-control" />
                <label for="header-search" class="visually-hidden" placeholder="search">Search</label>
            </div>
            <button type="button" class="btn btn-primary btn-icon">
                <fa-icon [icon]="search"></fa-icon>
            </button>
        </div>
    </div>    
</div> -->


