<ng-container *ngIf="
  {
    cartItems: cartItems$ | async
  } as observables">

    <div *ngIf="(observables.cartItems)?.length === 0" class="d-flex justify-content-center">
        <p>Nothing has been added to your cart... yet.</p>
    </div>
    <div *ngFor="let item of (cartItems$ | async)">
        <div class="row">
            <!-- image -->
            <div class="col-3">
                <img src="" id="product-image" alt=/>
            </div>
            <!-- product name, and selection details -->
            <div class="col-6">
                <div class="row">

                    <div class="col-12 product-details">
                        <!-- <h3>{{item.product.title}}</h3> -->
                        
                        <div class="selection-details justify-content-start flex-row">
                            <!-- <p class="greyed">{{product.category}}</p> -->
                            <!-- <p class="greyed">{{product.size}}</p> -->
                            <!-- <p class="greyed">{{product.color}}</p> -->
                        </div>


                    </div>
                    <div class="qauntity selector col-12">
                        <div class="quantity selector d-flex justify-content-end flex-column">
                            <div class="input-group d-flex justify-content-start flex-row">
                                <button (click)="quantity('decrease')" class="selector-option btn btn-decrease btn-icon">
                                    <fa-icon [icon]="decreaseIcon"></fa-icon>
                                </button>
                                <div class="form-outline">
                                    <input class="input-box" text="text" disabled value="{{item.quantity}}">
                                </div>
                                <button (click)="quantity('increase')" class="selector-option btn btn-increase btn-icon">
                                    <fa-icon [icon]="increaseIcon"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
                
            </div>
            <!-- cart item price -->
            <div class="col-3">
                <p class="h5 text-end text-nowrap">{{item.product[1]?.price | currency:'ZAR':'symbol':'.2'}}</p>
            </div>
        </div>
        <hr>
    </div>
</ng-container>