.btn {
    color: var(--dark);
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding: 0px !important;
}

.btn {
    color: var(--light-grey);
}

.btn:hover, .btn-icon:focus {
    color: var(--light-grey);
}

img{
    width: 100%;
}

/* cart list displayed on smaller screens */
@media only screen and (max-width: 768px) {


}

/* .cart-list
    container-type: inline-size;
}

@container(min-width: 700px){
    .cart-list > *{


    }
} */