<div *ngIf="(itemsInCart$  | async)?.length === 0">Nothing has been added to your cart... yet.</div>
<div *ngFor="let item of (itemsInCart$ | async)" class="card mb-3">
    <div class="row">
        <div class="col-3">
            <img src={{product.image}} id="product-image" />
        </div>
        <div class="col-6">
            <div class="quantity selector d-flex justify-content-end flex-column">
                <h2> Quantity</h2>
                <div class="input-group d-flex justify-content-start flex-row">
                    <button (click)="quantity('decrease')" class="selector-option btn btn-decrease btn-icon">
                        <fa-icon [icon]="decreaseIcon"></fa-icon>
                    </button>
                    <div class="form-outline">
                        <input class="input-box" text="text" disabled value="{{productQuantity}}">
                    </div>
                    <button (click)="quantity('increase')" class="selector-option btn btn-increase btn-icon">
                        <fa-icon [icon]="increaseIcon"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <p class="h5 text-end text-nowrap">{{product.price | currency:'USD':'symbol':'.2'}}</p>
        </div>
    </div>
</div>