.input-field.error input {
  border-color: red;
}

.input-field.error .text-danger {
  display: block;
}

.input-field.valid input {
  border-color: green;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-color: var(--primary-color);
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}



.outer {
  border-radius: 3px;
}


a {
  color: var(--primary-color)
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--large);
  font-weight: var(--bold);
  font-style: normal;

  display: flex;
  align-items: center;
  color: var(--white);
}

.panel-heading {
  background-color: var(--dark)
}

.cancel-button {
  position: absolute;
  /* top: 100px; */
  right: 437px;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;


}