<div class="row d-flex justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-8">

    <div class="card">
      <h1>Cart</h1>
      <hr />
      <app-cart-item-list></app-cart-item-list>

    </div>

  </div>



  <div class="col-sm-12 col-md-4 col-lg-4">
    
    <div class="card">
      <h1>Your Order</h1>
      <hr />
      <app-cart-summary-card></app-cart-summary-card>
      <div class="row d-flex justify-content-center btn-flex">
        <button [routerLink]="['/checkout']" class="btn btn-primary btn-block checkout-btn">
          <span>Proceed To Checkout</span>
        </button>
      </div>
    </div>
  </div>
</div>