<!-- 

<div class = "row">
   <div class = "col md-4-sm-6">
      <div class ="card rounded-0" style="width: 10rem;">
          <img src="https://media.discordapp.net/attachments/1093111353826344983/1114085342497218580/C1.webp?width=696&height=926" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
            <h2 class="card-title">Product Title</h2>
            <p class="text-body-secondary">Price</p>
            </div>
            <div class="card-button d-flex justify-content-center">
                <button class="btn btn-primary btn-block cart rounded-0"><fa-icon [icon]="cart"></fa-icon>Add to cart</button> 

            </div>
                
          </div>
        </div>
    </div>
     -->