.card {
   padding: var(--s-medium);

   width: 100%;
   height: 100%;

   background-color: var(--white);
}

.card-img-top {
   max-height: 200px;
}

.card-body {
   padding: 0px !important;
   margin: var(--s-medium) 0px !important;

   min-width: 100%;
   /* min-height: fit-content;
   min-height: moz-fit-content; */
}

.row {
   height: 30% !important;
   margin: var(--s-medium) !important;
}

.card-image{
   border-radius: var(--default-border-radius);
   width: 100% important!;
   object-fit: contain;
   height: 100%;
}

img:hover {
   cursor: pointer;
}

h1 {
   padding: var(--s-small) 0px !important;
   height: auto !important;

   width: 100% !important;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

h1:hover {
   text-decoration: underline;
   cursor: pointer;
}

p .product-price {
   font-weight: var(--bold);
   margin: 0px !important;
}

.btn {
   border-color: var(--primary-color);
   color: var(--primary-color);
   background-color: var(--white);
   
}

.btn:hover,
.btn:focus,
.btn:active {
   border-color: var(--primary-color);
   color: var(--white);
   background-color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
   .btn {
      border-color: var(--primary-color);
      color: var(--white);
      background-color: var(--primary-color);
   }

   .btn:hover,
   .btn:focus,
   .btn:active {
      border-color: var(--primary-color);
      color: var(--white);
      background-color: var(--primary-color);
   }

   .col-6{
      padding: var(--s-medium);
   }
}


@media only screen and (min-width: 992px) {
   .row {
      height: 30% !important;
      margin: var(--s-medium) 50px !important;
   }

   .card {
      max-height: 550px !important;
   }

   .card-img-top {
      max-height: 300px;
   }
}

.search-and-filter {
   height: 60px;
   padding: 10px 30px;
   margin: 0px -10px;
   background-color: var(--white);
}

.searchbar {
   max-width: 100%;
}

.btn-icon {
   background-color: var(--dark);
   border: var(--dark);
   color: var(--white);
}

.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active {
   background-color: var(--darker);
   border: var(--darker);
   color: var(--white);
}