<!-- <div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Search for product...">
</div> -->

<div class="search-and-filter shadow-sm d-flex justify-content-center">
  <div class="search d-flex">
    <div class="input-group">
      <input class="form-control searchbar" type="text" name="search" [(ngModel)]="searchValue" autocomplete="off"
        placeholder="Search for product...">
      <button type="button" class="btn btn-icon search-btn">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="row g-4 d-flex flex-row">
  <ng-container *ngIf="(products | filter: searchValue).length > 0; else noResults">
    <div *ngFor="let product of products | paginate: {itemsPerPage: 8, currentPage: page} | filter: searchValue"
      class="col-6 col-sm-6 col-md-4 col-lg-3">
      <!-- <div *ngIf="(itemsInCart$  | async)?.length === 0">The product you were looking for was not found.</div> -->
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-end">
          <div class="card-image d-flex flex-column justify-content-center">
            <img src={{product.image}} class="card-img-top" (click)="viewProductDetails(product.id)">
          </div>

          <h1 class="d-inline-block text-truncate" (click)="viewProductDetails(product.id)">{{product.title}}</h1>
          <p class="product-price bold">{{product.price | currency:' ZAR ':'symbol':'.2'}} </p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noResults>
    <div class="col-12 d-flex justify-content-center">
      <p class="greyed">No results found...</p>
    </div>
  </ng-template>
</div>

<pagination-controls (pageChange)="page = $event" class="pagination pt-2"></pagination-controls>